body {
    background-color: #000000;
    color: #ffffff;
    background-image: url('/kidcalc/img/cars2.jpg');
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  #kidcalc-section {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .buttons button {
    background-color: #2e86de;
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  
  .buttons button:hover {
    background-color: #1e3799;
  }
  